<div class="main-content">
    <div class="page-header" style="background-image: url('./assets/img/bg-header_2.jpg');">
        <div class="filter"></div>
        <div class="main-content card" style="z-index: 10;">
            <div class="container-fluid mt-2 mb-2">
                <table class="table table-light" id="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Fabricante</th>
                            <th>Veiculo</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let orcamento of orcamentos">
                            <th scope="row">1</th>
                            <td>{{orcamento.marca}}</td>
                            <td>{{orcamento.veiculo}}</td>
                            <td>@mdo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>