<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" routerLink="/"><img src="assets/img/logo_home.png" alt="logo" style="width: 40px; height: 40px;"> Cyber Oficina</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarTogglerLogged" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarTogglerLogged">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a routerLink="/" class="nav-link" ><i class="nc-icon nc-chart-bar-32"></i> Dashboards</a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a routerLink="/orcamento" class="nav-link" ><i class="nc-icon nc-bulb-63"></i> Novo Orçamento</a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a routerLink="/user-profile" class="nav-link" ><i class="nc-icon nc-badge"></i> Perfil ({{firstName}})</a>
                </li>
                <li class="nav-item">
                    <a (click)="logout()" class="btn btn-primary btn-round">Sair</a>
                </li>
                <li class="nav-item" *ngIf="isDocumentation()">
                    <a href="https://github.com/creativetimofficial/Cyber Oficina/issues?ref=pk2-free-local" target="_blank" class="nav-link">Have an issue</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
