<div class="main-content">
    <div class="page-header" style="background-image: url('./assets/img/bg-header_2.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="col-md-12" style="margin-top: 150px;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div *ngIf="isLoading">
                                    <div class="spinner-border text-success" role="status">
                                        <span class="sr-only">Carregando...</span>
                                    </div>
                                </div>
                                <h5 class="card-title"><strong>Orçamentos</strong></h5>
                                <p class="card-text">Olá {{firstName}}, você tem {{pendingOrcs}} orçamentos</p>
                                <a routerLink="/meus-orcamentos" class="btn btn-primary">Ver Orçamentos</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-stats">
                            <div class="card-header card-header-success card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">store</i>
                                </div>
                                <p class="card-category">Revenue</p>
                                <h3 class="card-title">$34,245</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">date_range</i> Last 24 Hours
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-stats">
                            <div class="card-header card-header-danger card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">info_outline</i>
                                </div>
                                <p class="card-category">Fixed Issues</p>
                                <h3 class="card-title">75</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">local_offer</i> Tracked from Github
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-stats">
                            <div class="card-header card-header-info card-header-icon">
                                <div class="card-icon">
                                    <i class="fa fa-twitter"></i>
                                </div>
                                <p class="card-category">Followers</p>
                                <h3 class="card-title">+245</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>