<ul id="navbar-list" class="navbar-nav override position">
    <!--li class="nav-item override" (click)="onNavLinkClicked($event)">
        <a routerLink="/" class="nav-link override" id="Home">Home</a>
    </li-->
    <li class="nav-item override" (click)="onNavLinkClicked($event)">
        <a routerLink="/about" class="nav-link override text-dark" id="About"><em class="material-icons">info</em>
            <strong>Conheça</strong>
        </a>
    </li>
    <li class="nav-item override text-dark" (click)="onNavLinkClicked($event)">
        <a routerLink="/login" class="nav-link override" id="Acessar"> <em class="material-icons">person</em>
            <strong>Acessar</strong>
        </a>
    </li>
</ul>
<span class="drawer-inset-shadow"></span>