<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.9ember.com">
                        9ember
                    </a>
                </li>
                <li>
                    <a href="https://www.9ember.com/#about">
                        Sobre
                    </a>
                </li>
                <li>
                    <a href="https://www.9ember.com/#team">
                        Time
                    </a>
                </li>
                <li>
                    <a href="https://www.9ember.com/#work">
                        Produtos
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, desenvolvido por
            <a href="https://www.9ember.com" target="_blank">9ember</a>.
        </div>
    </div>
</footer>
