<div class="main-content">
  <div class="page-header" style="background-image: url('./assets/img/bg-header_2.jpg');">
    <div class="filter"></div>
    <div class="container-fluid">
      <div class="center">
        <div *ngIf="isLoading" class="spinner-border text-success" role="status">
          <span class="sr-only">Carregando...</span>
        </div>
      </div>
      <div *ngIf="!isLoading" class="row" style="margin-top: 150px;">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-info">
              <h4 class="card-title">Editar Perfil</h4>
              <p class="card-category">Complete seu perfil</p>
            </div>
            <div class="card-body">
              <form [formGroup]="profile" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="{{empresa}}" disabled>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="{{nome}}" disabled>
                    </mat-form-field>
                  </div>
                  <div class="col-md-5">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="{{email}}" disabled>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="{{cpf}}" disabled>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input [mask]="getCepMask()" (change)="getCep($event.target.value)" formControlName="cep" matInput
                        placeholder="CEP" type="text" [ngClass]="{ 'is-invalid': submitted && a.cep.errors }" />
                      <div *ngIf="submitted && a.cep.errors" class="invalid-feedback">
                        <div *ngIf="a.cep.errors.required">CEP necessário</div>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput readonly formControlName="logradouro" placeholder="Rua" type="text"
                        [ngClass]="{ 'is-invalid': submitted && a.logradouro.errors }" />
                      <div *ngIf="submitted && a.logradouro.errors" class="invalid-feedback">
                        <div *ngIf="a.logradouro.errors.required">Logradouro necessário</div>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="col-md-2">
                    <mat-form-field class="example-full-width">
                      <input matInput formControlName="numero" placeholder="Número" type="text"
                        [ngClass]="{ 'is-invalid': submitted && a.numero.errors }" />
                      <div *ngIf="submitted && a.numero.errors" class="invalid-feedback">
                        <div *ngIf="a.numero.errors.required">Número necessário</div>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput value="{{complemento}}" placeholder="Complemento" type="text">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput readonly value="{{bairro}}" formControlName="bairro" placeholder="Bairro"
                        type="text" [ngClass]="{ 'is-invalid': submitted && a.bairro.errors }" />
                      <div *ngIf="submitted && a.bairro.errors" class="invalid-feedback">
                        <div *ngIf="a.bairro.errors.required">Bairro necessário</div>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput readonly formControlName="cidade" placeholder="Cidade" type="text"
                        [ngClass]="{ 'is-invalid': submitted && a.cidade.errors }" />
                      <div *ngIf="submitted && a.cidade.errors" class="invalid-feedback">
                        <div *ngIf="a.cidade.errors.required">Cidade necessária</div>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput readonly formControlName="uf" placeholder="Estado" type="text"
                        [ngClass]="{ 'is-invalid': submitted && a.uf.errors }" />
                      <div *ngIf="submitted && a.uf.errors" class="invalid-feedback">
                        <div *ngIf="a.uf.errors.required">UF necessária</div>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput readonly formControlName="pais" placeholder="País" type="text">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput value="{{celular}}" placeholder="Celular" type="text">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput value="{{telefone}}" placeholder="Telefone" type="text">
                    </mat-form-field>
                  </div>
                </div>
                <div *ngIf="spec" class="row">
                  <div class="col-md-12">
                    <label>Sobre</label>
                    <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="Co-Fundador e CEO da Cyber Oficina"></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <button [disabled]="loading" class="btn btn-info">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Atualizar
                </button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-avatar">
              <a href="javascript:void(0)">
                <img class="img" src="./assets/img/faces/marc.jpeg" />
              </a>
            </div>
            <div class="card-body">
              <h6 class="card-category text-gray">CEO / Co-Fundador</h6>
              <h4 class="card-title">{{nome}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>